<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Blank</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/styles.css">

    <!-- VENDOR SCRIPTS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="/scripts/app.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h1>Under Construction</h1>
          <h4><a href="/api">Read My API Documentation</a></h4>
          <form id="places-form">
            <input type="text" name="city" placeholder="City">
            <input type="text" name="country" placeholder="Country">
            <input type="file" label="Image">
            <input type="text" name="favorite-site" placeholder="Favorite Site">
            <p>Already visited?</p>
            <input type="radio" name="yes-visited" value="Yes">Yes<br>
            <input type="radio" name="no-not-visited" value="No">No</br>
            <p>Planning to go someday?</p>
            <input type="radio" name="future-destination" placeholder="Yes">Yes<br>
            <input type="radio" name="not-future-destination" placeholder="No">No<br>
            <input type="submit" value="Add new place">
          </form>
          <div id="placeTarget">
          <!-- handlebars template -->
          <script id="places-template" type="text/x-handlebars-template">
            {{#each places}}
            <div class="group-place">
            <hr>
            <p>
              <b>{{city}}, {{country}}</b>
            <br>
            Favorite Site:
            {{favoriteSite}}
            <br>
            <button type="button" class="btn btn-primary editBtn" data-id={{_id}}>Edit</button>
            <button type="button" class="btn btn-primary deleteBtn" data-id={{_id}}>Delete</button>
            <!-- <button type="button" name="button" class="deleteBtn btn btn-danger pull-right" data id={{_id}}>Delete</button> -->
            </p>
            </div>
            {{/each}}
          </script>
        </div>
      </div>
    </div>
  </body>
</html>
