<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Blank</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/styles.css">

    <!-- VENDOR SCRIPTS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="/scripts/app.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div id="banner">
          <img id="img-banner" src="/images/worldbanner.jpg">
          </div>
          <h1>Laura's Personal API</h1>
          <h4><a href="/api">Read My API Documentation</a></h4>
          <!--PROFILE HANDLEBARS-->
          <div id="profileTarget">
          <!-- handlebars template -->
            <script id="profile-template" type="text/x-handlebars-template">
              {{profile.name}}
              <br>
              {{profile.githubLink}}
              <br>
              {{profile.githubProfileImage}}
              <br>
              {{profile.personalSiteLink}}
              <br>
              {{profile.currentCity}}
            </script>
          </div>
          <hr>
          <!--END PROFILE HANDLEBARS-->
          <form id="places-form">
            <input type="text" name="city" placeholder="City" id="city" autofocus>
            <input type="text" name="country" placeholder="Country">
            <input type="file" label="Image">
            <input type="text" name="favorite-site" placeholder="Favorite Site">
            <p>Already visited?</p>
            <input type="radio" name="yes-visited" value="Yes">Yes<br>
            <input type="radio" name="no-not-visited" value="No">No</br>
            <p>Planning to go someday?</p>
            <input type="radio" name="future-destination" placeholder="Yes">Yes<br>
            <input type="radio" name="not-future-destination" placeholder="No">No<br>
            <input type="submit" value="Add new place">
          </form>

          <!--GOOGLE MAPS-->
              <div class="container">
                <div class="row">
                  <div class="col-md-6">
                    <div id="map"></div>
                  </div>
                  <div class="col-md-6">
                    <div id="info">

                      <script id="earthquake-template" type="text/x-handlebars-template">
                        {{#each features}}
                        {{/each}}
                      </script>
                    </div>
                  </div>
                </div>
              </div>
            <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBHLett8djBo62dDXj0EjCimF8Rd6E8cxg&callback=initMap"></script>

          <div id="placeTarget">
            <ul class="list-group" id="places-list">    
              <!-- handlebars template -->
              <script id="places-template" type="text/x-handlebars-template">
                {{#each places}}
                <li class="place-group-item place" data-id="{{_id}}">
                <hr>
                <b>{{city}}, {{country}}</b>
                <br>
                Favorite Site:
                {{favoriteSite}}
                <br>
                  <button type="button" class="btn btn-primary deleteBtn" data-id={{_id}}>Delete</button>
                      <!-- edit button to toggle update form -->
                  <a href="javascript:void(0)" data-toggle="collapse" data-target="#update-{{_id}}">
                  <span><button type="button" class="btn btn-primary editBtn">Edit</button></span></a>


                <!-- form to update todo -->
                <div class="collapse" id="update-{{_id}}">
                  <br>
                  <form class="form-inline update-place">
                    <div class="form-group">
                      <input type="text" name="city" class="form-control" placeholder="City" value="{{city}}">
                    </div>
                    <div class="form-group">
                      <input type="text" name="country" class="form-control" placeholder="Country" value="{{country}}">
                    </div>
                    <div class="form-group">
                      <input type="submit" class="btn btn-block btn-default" value="Update">
                    </div>
                    <div class="form-group">
                    <input type="text" name="favorite-site" class="form-control" placeholder="Favorite Site" value="{{favoriteSite}}">
                    </div>
                    <div class="form-group">
                    <p>Already visited?</p>
                    <input type="radio" name="yes-visited" value="Yes">Yes<br>
                    <input type="radio" name="no-not-visited" value="No">No</br>
                    </div>
                    <div class="form-group">
                    <p>Planning to go someday?</p>
                    <input type="radio" name="future-destination" placeholder="Yes">Yes<br>
                    <input type="radio" name="not-future-destination" placeholder="No">No<br>
                    </div>
                  </form>

                    
                    </div>
                
                </div>
              </li>
              {{/each}}
            </script>
          </ul>
        </div>
      </div>
    </div>
    <!-- jquery -->
  <script type="text/javascript" src="http://code.jquery.com/jquery-2.2.2.min.js"></script>

  <!-- bootstrap js -->
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </body>
</html>
